@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Noto Serif JP", serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: fixed;
  z-index: 1000;
  padding: 0;
  right: 0;
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #99958F;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .header {
    height: 75px;
    border-bottom: none;
  }
}

.header__inner {
  padding: 0 20px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 15px;
  }
}

.header__logo {
  width: 100%;
  max-width: 171px;
  height: inherit;
}
@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 128px;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  height: inherit;
}

.header__items {
  margin-left: 81%;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.3333333333;
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #F9F2E5;
  height: inherit;
  padding: 0 18px;
}

.header__button {
  margin-left: 32%;
}

.header__button a {
  display: inline-block;
  align-items: center;
  font-size: 18px;
  line-height: 1.3333333333;
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #F9F2E5;
  border: 1px solid #F9F2E5;
  padding: 11px 30px;
}

.header.is-scroll {
  background-color: #222;
  transition: 0.3s;
  border-bottom: none;
}

.hamburger {
  position: fixed;
  z-index: 5000;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  top: 20px;
  right: 13px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: 0.3s transform, 0.3s background-color 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  background-color: #F9F2E5;
}

.hamburger.is-active span {
  background-color: #F9F2E5;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.header__drawer {
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
}

.drawer {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.9);
  overflow-y: scroll;
}

.drawer__inner {
  padding: 172px 0;
}

.drawer__items {
  display: block;
}

.drawer__item {
  text-align: center;
}

.drawer__link {
  padding: 23px 0;
  display: flex;
  justify-content: center;
}

.drawer__link--logo {
  width: 100%;
  max-width: 14px;
}

.drawer__link--logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drawer__link--text {
  display: inline-block;
  font-size: 18px;
  font-family: "Cormorant", serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  margin-left: 6px;
}

.drawer__link--contact {
  display: inline-block;
  font-size: 18px;
  font-family: "Cormorant", serif;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.05em;
  text-align: center;
  color: #F9F2E5;
  padding: 9px 67px;
  border-radius: 6px;
  border: 1px solid #F9F2E5;
  margin-top: 23px;
}

.mv {
  width: 100%;
  height: 100vh;
  min-height: 320px;
}

.mv__inner {
  width: 100%;
  height: inherit;
  min-height: inherit;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
  min-height: inherit;
}

.swiper-slide img {
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px 27px;
}
@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px 27px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 13px;
}
@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 3px;
  }
}

.swiper-pagination-bullet {
  width: 70px;
  height: 4px;
  border-radius: 0;
  background-color: #332F27;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 40px;
    height: 2px;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #F9F2E5;
}

.swiper-button-prev,
.swiper-button-next {
  height: 34px;
  width: 34px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 34px;
  width: 34px;
}

.swiper-button-prev::after {
  background-image: url(/images/mv-btn-left.svg);
  position: absolute;
  top: 152%;
  left: 175%;
}

.swiper-button-next::after {
  background-image: url(/images/mv-btn-right.svg);
  position: absolute;
  top: 152%;
  right: 175%;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
}

.mv__title {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 14.3%;
}
@media screen and (max-width: 768px) {
  .mv__title {
    width: 100%;
    max-width: 268px;
    top: 55.7%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mv__title--main {
  font-size: 54px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .mv__title--main {
    font-size: 36px;
    letter-spacing: 0;
    line-height: 1;
  }
}

.mv__title--sub {
  margin-top: 23px;
  font-size: 18px;
  letter-spacing: 0.09em;
  line-height: 1;
  font-weight: 400;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .mv__title--sub {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
  }
}

.about__layout {
  padding: 83px 0 80px;
  background-color: #272625;
}
@media screen and (max-width: 768px) {
  .about__layout {
    padding: 64px 0 60px;
  }
}

.about__container {
  width: 100%;
  max-width: 600px;
  margin: 84px auto 0;
}
@media screen and (max-width: 768px) {
  .about__container {
    max-width: 335px;
    padding: 0 15px;
    margin: 36px auto 0;
  }
}

.about__content {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .about__content {
    align-items: center;
    flex-flow: column-reverse;
    gap: 40px;
  }
}

.about__img {
  aspect-ratio: 360/500;
  width: 100%;
  max-width: 360px;
  margin-left: 47px;
}
@media screen and (max-width: 768px) {
  .about__img {
    aspect-ratio: 240/333;
    max-width: 240px;
    margin-left: 0;
  }
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__title--sub {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .about__title--sub {
    margin-top: 21px;
  }
}

.about__text--main {
  font-size: 22px;
  letter-spacing: 0.4em;
  line-height: 1.7;
  color: #F9F2E5;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .about__text--main {
    font-size: 14px;
    line-height: 2.1;
    letter-spacing: 0.25em;
  }
}

.about__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}
@media screen and (max-width: 768px) {
  .about__body {
    margin-top: -79px;
  }
}

.about__text {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 2;
  font-weight: 400;
  color: #F9F2E5;
  width: 100%;
  max-width: 600px;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.8571428571;
    margin-left: 0;
  }
}

.about__button {
  position: relative;
  text-align: center;
  margin-top: 37px;
}
@media screen and (max-width: 768px) {
  .about__button {
    margin-top: 29px;
  }
}

.about__button a {
  display: inline-block;
  padding: 19.5px 58px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  border: 0.5px solid #F9F2E5;
  border-radius: 6px;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .about__button a {
    font-size: 14px;
    padding: 17px 47px;
  }
}

.about__button a::after {
  content: url(/images/button-item.svg);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.service__layout {
  padding: 84px 0 73px;
  background-color: #222;
}
@media screen and (max-width: 768px) {
  .service__layout {
    padding: 63px 0 63px;
  }
}

.service__tab {
  width: 100%;
}

.tab__list {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  gap: 45px;
}
@media screen and (max-width: 768px) {
  .tab__list {
    gap: 32px;
    margin-top: 54px;
  }
}

.tab__button {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #F9F2E5;
  border-bottom: 1px solid #2C2C2C;
  padding-bottom: 7px;
}
@media screen and (max-width: 768px) {
  .tab__button {
    font-size: 14px;
  }
}

.tab__button.is-active {
  border-bottom: 1px solid #707070;
  padding-bottom: 7px;
}

.tab__content {
  display: none;
}

.tab__content.is-active {
  display: block;
}

.service__cards {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .service__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 44px;
  }
}

.card {
  position: relative;
  box-shadow: 3px 3px 4px rgba(29, 29, 29, 0.75);
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 250px;
  }
}

.card__img {
  width: 100%;
  aspect-ratio: 330/370;
}
@media screen and (max-width: 768px) {
  .card__img {
    aspect-ratio: 250/280;
  }
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__telop {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 8px 30px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-weight: 400;
  font-family: "Cormorant", serif;
  background-color: #332F27;
}

.card__body {
  padding: 11px 16px 21px;
  background-color: #222;
}
@media screen and (max-width: 768px) {
  .card__body {
    padding: 11px 16px;
  }
}

.card__text--large {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .card__text--large {
    font-size: 14px;
    line-height: 2.2857142857;
  }
}

.card__text {
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .card__text {
    font-size: 13px;
    line-height: 1.5384615385;
    margin-top: 4px;
  }
}

.news__layout {
  padding: 84px 0 50px;
  background-color: #BCB5A8;
}
@media screen and (max-width: 768px) {
  .news__layout {
    padding: 64px 0 42px;
  }
}

.news__list {
  margin-top: 17px;
}
@media screen and (max-width: 768px) {
  .news__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
  }
}

@media screen and (max-width: 768px) {
  .news__list--item {
    width: 100%;
    max-width: 285px;
  }
}

.news__list--item:not(:last-child) {
  border-bottom: 1px solid #A4A4A0;
}

.news__list--item a {
  display: block;
  padding: 25px 0;
}
@media screen and (max-width: 768px) {
  .news__list--item a {
    padding: 20px 0;
  }
}

.news__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .news__container {
    display: block;
    justify-content: center;
  }
}

.news__content {
  display: flex;
  align-content: center;
}

.news__time {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #222;
}
@media screen and (max-width: 768px) {
  .news__time {
    font-size: 13px;
  }
}

.news__button {
  font-size: 10px;
  padding: 9px 25px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #332F27;
  margin-left: 29px;
}
@media screen and (max-width: 768px) {
  .news__button {
    padding: 6px 20px;
    margin-left: 30px;
  }
}

.news__text {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #222;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .news__text {
    font-size: 14px;
    line-height: 2.1428571429;
    margin-left: 0;
    margin-top: 16px;
  }
}

.contact__layout {
  background-color: #272625;
}

.contact__inner {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: auto;
}

.contact__container {
  display: flex;
  gap: 50px;
}

.contact__content {
  width: 50%;
  padding-top: 85px;
}

.contact__title::after {
  content: "";
  display: inline-block;
  background-color: #99958F;
  height: 1px;
  width: 425px;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .contact__body {
    max-width: 226px;
  }
}

.contact__text {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .contact__text {
    font-size: 13px;
  }
}

.contact__button {
  margin-top: 20px;
}

.contact__button a {
  position: relative;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  padding: 17px 0;
  display: inline-block;
  width: 100%;
  max-width: 265px;
  border: 0.5px solid #F9F2E5;
  border-radius: 6px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__button a {
    font-size: 14px;
    line-height: 1.4285714286;
    padding: 13px 0;
    max-width: 226px;
  }
}

.contact__button a::after {
  content: url(/images/button-item.svg);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.contact__wrap {
  width: 100%;
  margin-right: calc(50% - 50vw);
  overflow: hidden;
}

.contact__img {
  max-height: 399px;
  aspect-ratio: 670/399;
}

.contact__img img {
  width: 100%;
  object-fit: cover;
}

.about-mv {
  width: 100%;
  height: 100%;
}

.about-mv__inner {
  width: 100%;
  height: inherit;
  position: relative;
}

.about-mv__img {
  width: 100%;
  height: inherit;
}

.about-mv__img img {
  height: inherit;
  object-fit: cover;
}

.about-mv__title {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .about-mv__title {
    top: 58%;
  }
}

.about-mv__title--main {
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #BCB5A8;
  font-family: "Cormorant", serif;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .about-mv__title--main {
    font-size: 36px;
    letter-spacing: 0.005em;
  }
}

.message__layout {
  padding: 80px 0;
  background-color: #272625;
}
@media screen and (max-width: 768px) {
  .message__layout {
    padding: 60px 0;
  }
}

.message__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .message__content {
    width: 100%;
    max-width: 285px;
  }
}

.message-content__text--main {
  font-size: 24px;
  line-height: 1.6666666667;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #F9F2E5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .message-content__text--main {
    font-size: 15px;
    line-height: 1.7333333333;
  }
}

.message-content__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", sans-serif;
  color: #F9F2E5;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .message-content__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8571428571;
    text-align: left;
  }
}

.message__wrapper {
  margin-top: 80px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .message__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    margin-top: 60px;
  }
}

.message__img {
  width: 100%;
  max-width: 290px;
  aspect-ratio: 290/340;
}
@media screen and (max-width: 768px) {
  .message__img {
    max-width: 250px;
    aspect-ratio: 250/293;
  }
}

.message__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message__body {
  width: 100%;
  max-width: 324px;
  margin-left: 27px;
  margin-top: 91px;
}
@media screen and (max-width: 768px) {
  .message__body {
    margin-top: 21px;
    margin-left: 0;
  }
}

.message__text {
  margin-top: 28px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .message__text {
    margin-top: 22px;
    line-height: 1.8571428571;
  }
}

.message__text--name {
  margin-top: 25px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.09em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #F9F2E5;
  margin-left: 80px;
}
@media screen and (max-width: 768px) {
  .message__text--name {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-left: 0;
  }
}

.company__layout {
  padding: 87px 0 74px;
  background-color: #222;
}
@media screen and (max-width: 768px) {
  .company__layout {
    padding: 14px 0 60px;
  }
}

.company__container {
  width: 100%;
  max-width: 734px;
  margin: 56px auto 0;
}
@media screen and (max-width: 768px) {
  .company__container {
    max-width: 285px;
    margin: 22px auto 0;
  }
}

.company__list {
  position: relative;
  display: flex;
  padding: 19px 0;
  border-bottom: 1px solid #99958F;
}
@media screen and (max-width: 768px) {
  .company__list {
    display: block;
    padding: 24.5px 0;
  }
}

.company__term {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.005em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #F9F2E5;
  width: 18.26%;
}
@media screen and (max-width: 768px) {
  .company__term {
    width: 100%;
  }
}

.company__description {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.005em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #F9F2E5;
  width: 81.74%;
}
@media screen and (max-width: 768px) {
  .company__description {
    margin-top: 18px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .company__description--text {
    display: inline-block;
    margin-top: 12px;
  }
}

.company__content {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
@media screen and (max-width: 768px) {
  .company__content {
    margin-top: 15px;
  }
}

.company__map--log {
  width: 100%;
  max-width: 10px;
  margin-left: 2px;
}

.company__map--log img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-open-button {
  border-bottom: 1px solid #F9F2E5;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(34, 34, 34, 0.8);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__body {
  position: relative;
  display: inline-block;
}

.modal__close-button span {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 10px;
  height: 2px;
  background-color: #222;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .modal__close-button span {
    top: 21px;
    right: 14px;
  }
}

.modal__close-button span:nth-child(1) {
  transform: rotate(45deg);
}

.modal__close-button span:nth-child(2) {
  transform: rotate(-45deg);
}

.modal__content {
  width: 100%;
  max-width: 460px;
  padding: 24px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .modal__content {
    width: 268px;
    padding: 14px;
  }
}

.modal__text {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #222;
}
@media screen and (max-width: 768px) {
  .modal__text {
    font-size: 14px;
  }
}

.google-map {
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .google-map {
    margin-top: 14px;
  }
}

.google-map iframe {
  height: 100%;
  aspect-ratio: 1/1;
}

.contact-mv {
  width: 100%;
  height: 100%;
}

.contact-mv__inner {
  width: 100%;
  height: inherit;
  position: relative;
}

.contact-mv__img {
  width: 100%;
  height: inherit;
}

.contact-mv__img img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.contact-mv__title {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .contact-mv__title {
    top: 58%;
  }
}

.contact-mv__title--main {
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-family: "Cormorant", serif;
}
@media screen and (max-width: 768px) {
  .contact-mv__title--main {
    font-size: 36px;
    letter-spacing: 0.005em;
  }
}

.contact-page__layout {
  padding: 79px 0 147px;
  background-color: #272625;
}
@media screen and (max-width: 768px) {
  .contact-page__layout {
    padding: 57px 0 50px;
  }
}

.contact-page__body {
  display: flex;
  justify-content: center;
}

.contact-page__text {
  font-size: 15px;
  line-height: 1.8666666667;
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #F9F2E5;
}

.form {
  width: 100%;
  max-width: 498px;
  margin: 83px auto 0;
}
@media screen and (max-width: 768px) {
  .form {
    max-width: 313px;
    margin: 60px auto 0;
  }
}

.form__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .form__list {
    width: 100%;
    display: block;
  }
}

.form__list:nth-child(2) {
  margin-top: 22px;
}

.form__list:nth-child(4) {
  margin-top: 28px;
}
@media screen and (max-width: 768px) {
  .form__list:nth-child(4) {
    margin-top: 35px;
  }
}

.form__label {
  font-size: 14px;
  letter-spacing: 0.005em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #F9F2E5;
  width: 27.711%;
}
@media screen and (max-width: 768px) {
  .form__label {
    width: 100%;
  }
}

.form__label span {
  color: #F93212;
}

.form__label.form__label--start {
  margin-top: -130px;
}
@media screen and (max-width: 768px) {
  .form__label.form__label--start {
    margin-top: 0;
  }
}

.form__input {
  width: 72.289%;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
    margin-top: 2px;
  }
}

.form__input input,
.form__textarea textarea {
  width: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  padding: 10px 12px;
  background-color: #99958F;
}

.form__textarea {
  width: 72.29%;
}
@media screen and (max-width: 768px) {
  .form__textarea {
    width: 100%;
  }
}

.form__textarea textarea {
  padding: 12px 12px 132px;
  resize: none;
}

.form__input.radio-button {
  width: 100%;
}

.radio {
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-top: 20px;
  }
}

.radio-label {
  position: relative;
  display: inline-block;
  margin-top: 21px;
  margin-left: 30px;
  padding-left: 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .radio-label {
    display: block;
    margin-top: 7px;
    margin-left: 12px;
  }
}

.radio-label span {
  position: absolute;
  top: 6px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #272625;
  border: 1px solid beige;
  border-radius: 50%;
}

.radio-label:hover span {
  border-color: #999;
}

.radio-label input[type=radio]:checked + .radio-custom::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #99958F;
}

.form__button {
  margin-top: 35px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form__button {
    margin-top: 17px;
  }
}

.contact-form__button {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.005em;
  font-weight: 400;
  color: #F9F2E5;
  padding: 17px 75px;
  border: 0.5px solid #F9F2E5;
  border-radius: 6px;
  transition: all 0.3s;
}
.contact-form__button:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}
@media screen and (max-width: 768px) {
  .contact-form__button {
    padding: 16px 68px;
  }
}

.footer {
  background-color: #222;
  padding: 30px 0;
}

.footer__copyright {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.inner {
  width: 100%;
  max-width: 1080px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 650px;
    padding: 0 25px;
  }
}

.title--inner {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .title--inner {
    padding: 0 15px;
  }
}

.page__inner {
  width: 100%;
  max-width: 850px;
  padding: 0 25px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .page__inner {
    max-width: 375px;
    padding: 0 15px;
  }
}

.top--title::after {
  content: "";
  display: inline-block;
  background-color: #99958F;
  height: 1px;
  width: 1037px;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .top--title::after {
    margin-left: 15px;
  }
}

.section-title {
  display: flex;
  align-items: center;
}

.section-title__logo {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 23px;
  vertical-align: middle;
}

.section-title__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-title__main {
  font-size: 38px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  font-family: "Cormorant", serif;
  font-weight: 400;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .section-title__main {
    font-size: 32px;
    margin-left: 7px;
  }
}

.section-title__main--revers {
  color: #222;
}

.button a {
  transition: all 0.3s;
}
.button a:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */