@use "sass:math";
// 色
$white: #fff;
$black: #222;
$black2: #332F27;
$black3: #272625;
$black4: #1D1D1D;
$black5: #2C2C2C;
$black6: #161616;
$grey: #99958F;
$grey2: #A4A4A0;
$grey3: #707070;
$beige: #BCB5A8;
$beige2: #F9F2E5;
$red: #F93212;
